/* contacts */
.contacts__inner {
  position: relative;
  display: flex;
  justify-content: stretch;
  gap: 104px;
}

.contacts__item {
  margin-top: 74px;
}

.tel::before {
  content: "";
  background: url("/Metrica/resource/image/contacts_tel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 22px;
  position: absolute;
  top: 27px;
}

.mail::before {
  content: "";
  background: url("/Metrica/resource/image/contacts-mail.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  position: absolute;
  top: 27px;
}

.contacts__tel {
  color: rgb(18, 18, 18);
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  text-decoration: none;
}

.contacts__tel:hover {
  opacity: 0.5;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 9px;
  line-height: 50px;
}

.contacts__mail {
  color: rgb(18, 18, 18);
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
  text-decoration: none;
}

.contacts__mail:hover {
  opacity: 0.5;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 9px;
  line-height: 50px;
}

@media (max-width: 1199px) {
  .contacts__inner {
    gap: 114px;
  }

  .contacts__tel {
    font-size: 45px;
  }

  .contacts__mail {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .contacts__inner {
    flex-direction: column;
    gap: 0px;
  }

  .contacts__item {
    margin-top: 58px;
  }

  .contacts__tel {
    font-size: 35px;
  }

  .contacts__mail {
    font-size: 35px;
  }

  .tel::before {
    width: 9.75px;
    height: 16.5px;
  }

  .mail::before {
    width: 15px;
    height: 12px;
    top: 127px;
  }
}
