/* Footer */
.footer {
  height: 230px;
}

.footer__item {
  padding: 70px 0 30px 0;
}
.footer__nav {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.footer__nav__button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: 88px;
  opacity: 0.5;
}
