.section__gallery {
  width: 100%;
  padding: 0;
}
.gallery {
  position: relative;
  width: 100%;
  height: 717px;
}

.gallery__title-wrapper {
  position: absolute;
  width: 100%;
  top: 67px;
  z-index: 10;
}

.gallety__title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
}

.gallery__slides {
  width: 100%;
  height: 100%;
}

.gallery__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__slide-img {
  width: 100%;
  height: 100%;
}

.gallery__controls-wrapper {
  position: absolute;
  width: 98%;
  bottom: 153px;
}

.gallery__controls {
  display: flex;
  justify-content: start;
  gap: 2px;
}
.gallery__control-next,
.gallery__control-prev {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.gallery__control-prev:hover,
.gallery__control-next:hover {
  opacity: 0.5;
}

.gallery__control-arroy {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery__description-wrapper {
  position: absolute;
  width: 100%;
  bottom: 60px;
}

.gallery__description {
  width: 443px;
  height: 82px;
}

.gallery__descpription-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
  text-align: left;
}

/* Scope 1199px */

@media (max-width: 1199px) {
  .gallery {
    height: 536px;
  }

  .gallery__title-wrapper {
    top: 80px;
  }

  .gallety__title {
    font-size: 20px;
    line-height: 27px;
  }

  .gallery__slide-img {
    height: 536px;
  }

  .gallery__description {
    width: 374px;
    height: 68px;
  }

  .gallery__descpription-text {
    font-size: 25px;
    line-height: 34px;
  }

  .gallery__description-wrapper {
    bottom: 80px;
  }
}

/* Scope 767px */

@media (max-width: 767px) {
  .gallery {
    height: 408px;
  }

  .gallery__title-wrapper {
    top: 61px;
  }

  .gallety__title {
    font-size: 14px;
    line-height: 19px;
  }

  .gallery__slide-img {
    object-fit: fill;
    height: 408px;
  }

  .gallery__controls-wrapper {
    bottom: 50%;
  }

  .gallery__controls {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }

  .gallery__control-prev,
  .gallery__control-next {
    width: 30px;
    height: 30px;
  }

  .gallery__description {
    width: 284px;
    height: 52px;
  }

  .gallery__descpription-text {
    font-size: 19.01px;
    line-height: 26px;
  }

  .gallery__description-wrapper {
    bottom: 60px;
  }
}
