/* Intro */

.intro__img {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("/Metrica/resource/image/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.intro__img__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
