/* main */
@import "/Metrica/styles/header.css";
@import "/Metrica/styles/intro.css";
@import "/Metrica/styles/about.css";
@import "/Metrica/styles/project.css";
@import "/Metrica/styles/services.css";
@import "/Metrica/styles/review.css";
@import "/Metrica/styles/gallery.css";
@import "/Metrica/styles/contacts.css";
@import "/Metrica/styles/footer.css";
@import "/Metrica/styles/popup.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
}

h1 {
  padding-top: 71px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  text-align: left;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
  color: rgb(18, 18, 18);
}

section {
  margin-bottom: 150px;
}

.btn {
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

/* Scope 1199px */

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 17px 0 15px;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 25px;
    line-height: 34px;
  }

  section {
    margin-bottom: 120px;
  }
}

/* Scope 767px */

@media (max-width: 767px) {
  .container {
    padding: 0 13px 0 12px;
  }

  section {
    margin-bottom: 80px;
  }

  .btn {
    font-size: 16px;
    line-height: 22px;
  }

  h1 {
    width: 100%;
    font-size: 30px;
    line-height: 31.62px;
  }

  h2 {
    font-size: 14px;
    line-height: 19px;
  }

  h3 {
    font-size: 18px;
    line-height: 25px;
  }
}
