.review__box-inner {
  margin-top: 30px;
}

.review__row {
  display: flex;
  flex-wrap: wrap;
  gap: 49px;
  row-gap: 80px;
}

.review__col {
  width: calc(50% - 24.5px);
}

.review__box.upper__box {
  width: 530px;
}

.review__box.lower__box {
  width: 861px;
}

.review__title {
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: -0.03em;
}

.review__text_upper {
  margin-top: 14px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.review__text_lower {
  margin-top: 29px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
  .review__row {
    display: flex;
    gap: 10px;
  }

  .review__col {
    width: calc(50% - 5px);
  }

  .review__box.upper__box {
    width: 100%;
    height: auto;
  }

  .review__box.lower__box {
    margin-top: 0;
    width: 694px;
  }

  .review__title {
    font-size: 35px;
  }

  .review__text_upper {
    margin-top: 25px;
    font-size: 20px;
    line-height: 27px;
  }

  .review__text_lower {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 767px) {
  .review__box-inner {
    margin-top: 22px;
  }

  .review__row {
    flex-direction: column;
    gap: 80px;
  }

  .review__col {
    width: 100%;
  }

  .review__box.upper__box {
    width: 100%;
  }

  .review__box.lower__box {
    width: 100%;
  }
  .review__title {
    font-size: 25px;
  }

  .review__text_upper {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  .review__text_lower {
    font-size: 16px;
    line-height: 22px;
  }
}
