.review__box-inner {
  margin-top: 30px;
}

.review__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 49px;
  row-gap: 80px;
}

.review__col {
  width: calc(50% - 25px);
}

.review__col:last-child:nth-child(2n + 1) {
  width: 75%;
}

.review__title {
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: -0.03em;
}

.review__text {
  margin-top: 14px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
  .review__row {
    display: flex;
    column-gap: 10px;
  }

  .review__col {
    width: calc(50% - 5px);
  }

  .review__title {
    font-size: 35px;
  }

  .review__text {
    margin-top: 25px;
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 767px) {
  .review__box-inner {
    margin-top: 22px;
  }

  .review__row {
    flex-direction: column;
  }

  .review__col {
    width: 100%;
  }

  .review__col:last-child:nth-child(2n + 1) {
    width: 100%;
  }

  .review__title {
    font-size: 25px;
  }

  .review__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }
}
