.section__services {
  padding: 150px 0;
  width: 100%;
  background-color: rgb(18, 18, 18);
}

.services__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
  text-align: left;
  text-transform: uppercase;
}

.services__boxes {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
}

.services__box {
  width: calc(50% - 5.5px);
  position: relative;
}

.services__img {
  width: 100%;
  height: auto;
}

.services__label-wrapper {
  position: absolute;
}

.label__upper-row {
  top: 31.51px;
  left: 30px;
}

.label__lower-row {
  top: 33.85px;
  left: 30px;
}

.services__label {
  width: 163px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgb(173, 24, 24);
}

.services__label {
  width: 163px;
  height: 40px;
}

.label__project {
  width: 194px;
  height: 40px;
}

.label__warehouse {
  width: 211px;
  height: 40px;
}

.services__label__text {
  font-size: 22px;
  color: rgb(255, 255, 255);
  line-height: 27px;
  letter-spacing: -0.03em;
}

.services__img__text {
  margin-top: 25px;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
  text-align: left;
}

.services__button {
  width: 100%;
  height: 153px;
  font-size: 30px;
  margin-top: 104px;
  background-color: rgb(173, 24, 24);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(173, 24, 24);
}

.services__button:hover {
  opacity: 0.8;
  transition: 0.5s;
}

/* Scope 1199 */

@media (max-width: 1199px) {
  .services__box {
    width: calc(50% - 5px);
  }

  .label__upper-row {
    top: 31px;
    left: 32px;
  }

  .label__lower-row {
    top: 32px;
    left: 30px;
  }

  .services__label__text {
    font-size: 20px;
  }

  .services__img__text {
    margin-top: 15px;
    font-size: 25px;
  }

  .services__button {
    margin-top: 80px;
  }
}

/* Scope 767 */

@media (max-width: 767px) {
  .section__services {
    padding: 80px 0;
  }
  .services__title {
    font-size: 14px;
  }

  .services__boxes {
    margin-top: 20px;
    grid-row: 60px;
  }

  .services__box {
    width: 100%;
  }

  .label__pencil {
    width: 123px;
    height: 30px;
  }

  .label__palette {
    width: 124px;
    height: 30px;
  }

  .label__project {
    width: 148px;
    height: 30px;
  }

  .label__warehouse {
    width: 160px;
    height: 30px;
  }
  .label__upper-row {
    top: 23px;
    left: 24px;
  }

  .label__lower-row {
    top: 24px;
    left: 22px;
  }

  .services__label__text {
    font-size: 14px;
  }

  .services__img__text {
    font-size: 18px;
    margin-top: 10px;
  }

  .services__button {
    margin-top: 60px;
    height: 100px;
    padding: 36px 37px;
    font-size: 22px;
    line-height: 30px;
  }
}
