.services__boxes {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
}

.services__box {
  width: calc(50% - 5.5px);
}

.services__img.pencil {
  height: 315px;
  background: url(/Metrica/resource/image/pencil.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__img.palette {
  height: 315px;
  background: url(/Metrica/resource/image/palette.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__img.project {
  height: 315px;
  background: url(/Metrica/resource/image/project.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__img.warehouse {
  height: 315px;
  background: url(/Metrica/resource/image/warehouse.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__img__text {
  margin-top: 25px;
}

.services__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
  text-align: left;
  text-transform: uppercase;
}

.services__img__text {
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
  text-align: left;
}

.services__button {
  margin-top: 104px;
  display: inline-block;
  width: 100%;
  height: 153px;
  text-align: center;
  padding: 53px 125px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 41px;
  border-radius: 5px;
  background: rgb(173, 24, 24);
  cursor: pointer;
}

.services__button:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media (max-width: 1199px) {
  .services__box {
    width: calc(50% - 5px);
  }

  .services__img__text {
    margin-top: 15px;
  }

  .services__img__text {
    font-size: 25px;
  }

  .services__button {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .services__title {
    font-size: 14px;
  }

  .services__boxes {
    margin-top: 20px;
    grid-row: 60px;
  }

  .services__box {
    width: 100%;
  }

  .services__img__text {
    font-size: 18px;
    margin-top: 10px;
  }

  .services__button {
    height: 100px;
    padding: 36px 37px;
    font-size: 22px;
    line-height: 30px;
  }
}
